@import "/imports/ui/stylesheets/variables/_all";

.dropdown {
  position: static;
}

.dropdownContent {
  top: 5.6rem;
}

.optionsButton{
bottom: 2rem;
background-color: none;
  color: green;
  > icon {
          color: none !important;
  }
  &:hover,
  &:focus {
    box-shadow: none !important;
    color: $color-primary !important;
    
    
 } 
}